* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1000;
}

#root {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #1c1c1c;
  z-index: -1000;
}